<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('7')">
  <span>7</span>
</button>
<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('8')">
  <span>8</span>
</button>
<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('9')">
  <span>9</span>
</button>
<button
  class="delete"
  type="button"
  (click)="this.computeService.onDeleteClicked()">
  <span class="delete">DEL</span>
</button>

<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('4')">
  <span>4</span>
</button>
<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('5')">
  <span>5</span>
</button>
<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('6')">
  <span>6</span>
</button>
<button
  class="operator"
  type="button"
  (click)="this.computeService.onOperatorClicked('+')">
  <span>+</span>
</button>

<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('1')">
  <span>1</span>
</button>
<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('2')">
  <span>2</span>
</button>
<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('3')">
  <span>3</span>
</button>
<button
  class="operator"
  type="button"
  (click)="this.computeService.onOperatorClicked('-')">
  <span>-</span>
</button>

<button
  class="decimal"
  type="button"
  (click)="this.computeService.onNumberClicked('.')">
  <span>.</span>
</button>
<button
  class="number"
  type="button"
  (click)="this.computeService.onNumberClicked('0')">
  <span>0</span>
</button>
<button
  class="operator"
  type="button"
  (click)="this.computeService.onOperatorClicked('/')">
  <span>/</span>
</button>
<button
  class="operator"
  type="button"
  (click)="this.computeService.onOperatorClicked('x')">
  <span>x</span>
</button>

<button
  class="reset"
  type="button"
  (click)="this.computeService.onResetClicked()">
  <span class="reset">RESET</span>
</button>
<button
  class="equal"
  type="button"
  (click)="this.computeService.onEqualClicked()">
  <span class="equal">=</span>
</button>
